@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1600x900/?weather,natue,snow,thuderstorm,rain,landscape');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panal{
    width:500px;
    height:500px;
    border-radius: 20px;
    background-color: #000000d1;
    box-shadow: 0px 0px 20px 0px #b9aaaa;
}

.header{
    width:500px;
    height:100px;
    border-bottom: 3px groove whitesmoke ;
    display: flex;
    justify-content:center;
}

.searchIcon {
    box-sizing: border-box;
    position: relative;
    left: 30px;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}

.searchIcon::after {
    left: 30px;
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

#txt{
    width:195px;
    font-family: 'Poppins', sans-serif;
    color:#5c43fc;
    font-size: 50px;
    position: absolute;
    right: 80px;
    bottom:0px;
    border:1px solid #5c43fc;
    border-radius: 10px;
    display: flex;
    justify-content:center;
}

h1{
    padding:0.8rem;
    margin:0.8rem;
    font-family: 'Poppins', sans-serif;
    color:#5c43fc;
    font-size: 30px;
}

.input1{
    height:50px;
    width:300px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: relative;
    left:50px;
    text-align: center;
    border: 2px groove #5c43fc;
    border-radius: 10px;
}

.button1{
    margin-left: 10px;
    height:50px;
    width:80px;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    font-size: 30px;
    position: relative;
    left:50px;
    text-align: center;
    background-color:  #5c43fcd1;
    border-radius: 10px;
}

.button1:hover{
    background-color:  transparent;
    cursor: pointer;
}

.weather{
    font-family: 'Poppins', sans-serif;
    color:#5c43fc; 
    position: relative;
    left: 50px;
}

h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}

.description{
    text-transform: capitalize;
    margin-left: 20px;
    padding-left: 20px;
    font-size:x-large;
}

.flex{
    display:flex;
    align-items: center;
}

.temp,.icon,.humidity,.wind{
    font-size: larger;
}

footer{
    width:350px;
    height:50px;
    border-radius: 20px;
    background-color: #000000d5;
    font-family: Gabriola,sans-serif;
    color: white;
    position: absolute;
    bottom:20px;
    left:41.5%;
    font-size: xx-large;
    display:flex;
    justify-content: center;
}